<h1>Vinyl Index View</h1>
<ul>
<% @vinyls.each do |vinyl| %>
    <li> <%= link_to vinyl.title, vinyl_path(vinyl) %> </li>
<% end %>
</ul>

<%= link_to '<button type="button">New Vinyl</button>'.html_safe, new_artist_path %><br><br>
<%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
