<h1>Show Vinyl View</h1>

<%= @vinyl.title %><br><br>

<%= link_to "Edit Vinyl", edit_vinyl_path %><br><br>
<%= link_to "Delete Vinyl", vinyl_path, method: 'delete' %><br><br>
<%= link_to "All Vinyls", vinyls_path %><br><br>

