<h1>Index Song View</h1>
<h1><%= @vinyl.title %></h1>
<ul>
<% @songs.each do |song| %>
    <li> <%= link_to song.title, song_path(song) %> </li>
<% end %>
</ul>

<%= link_to "Add Song", new_vinyl_song_path %>

<%= link_to "Vinyl Collection", vinyls_path %>