<h1>Welcome to Vinyl Collector!</h1>
<p>
Here at Vinyl Collector, we strive to make it easy for you to manage your personal vinyl collection!
</p>
<h3>To start your collection, <%= link_to "click here", new_artist_path%>!</h3>
<h5>- OR -</h5>
<h3>You can view your <%= link_to "current collection.", vinyls_path %></h3><br>

<%= link_to '<button type="button">Sign Out</button>'.html_safe, destroy_user_session_path, method: :delete %>