<h1>HOME!</h1>
<h1>#Set up nav menu</h1>
<h2>Welcome to Vinyl Collector!</h2>
<p>
Here at Vinyl Collector, we strive to make it easy for you to manage your personal vinyl collection!
</p>
<h3>To start your collection, <%= link_to "click here", new_artist_path%>!</h3>
<h3><%= link_to "View my collection", vinyls_path %></h3>


<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>